<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinashe Madanire CV</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="main-display">
                <div class="main-d-header-photos">
                    <div class="header-img-container">
                        <img class="header-img" src="/images/gaming.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/art.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/retro.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/music.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/bat.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/books3.jpg">
                    </div>
                    <div class="header-img-container">
                        <img class="header-img" src="/images/sw.jpg">
                    </div>
                </div>
                <div class="main-d-header">
                    <div class="profile-pic">
                        <img class="headshot" src="/images/headshot2.jpeg">
                    </div>
                    <div class="name-title">
                        <h1>Tinashe Madanire</h1>
                        <h2>Frontend Developer</h2>
                    </div>    
                </div>
            </div>
            <div class="contact-details">
                <ul class="contacts-list">
                    <li>
                        <small>Mobile: </small>
                        <a href="tel:">+27606875206</a>
                    </li>
                    <li>
                        <small>Email: </small>
                        <a href="mailto:">madtinashe@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <ul class="info">
                <li>
                    <div class="label about-me">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                          </svg>
                        <h2 class="label-text">About Me</h2>
                        <button id="dd" class="dd">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                    </div>
                    <div id="amc" class="about-me-content">
                        <p class="am">
                            Hellow
                            
                            Some Ranosadsnadjdnaskdalskdjasldaskdjlaksdjasdads
                            asdasdasdasdasdasdasssssssssssssssssssssssssssss
                            assssssderererrrrrrrrrrrrrrrjgiofdbbbbbbbbbbb
                            eeeeeeepppppppppppppppppppppppppppppppppppppppple
                            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                            ffffffffffffffffffffffffffffffffffffffffffffffffff
                            gggggggggggggggggggggggggggggggggggggggggggggggggg
                            hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhi
                            iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
                            jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                            kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                            lllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllllqqqqqqqq
                            qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
                        </p>
                    </div>
                </li>
                <li>
                    <div class="label work-experience">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                          </svg>
                        <h2 class="label-text">Work Experience</h2>
                        <button id="dd2" class="dd2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                    </div>
                    <div id="wec" class="about-me-content">
                        <p class="we">
                            Hellow
                            
                            Some Ranosadsnadjdnaskdalskdjasldaskdjlaksdjasdads
                            asdasdasdasdasdasdasssssssssssssssssssssssssssss
                            assssssderererrrrrrrrrrrrrrrjgiofdbbbbbbbbbbb
                            eeeeeeepppppppppppppppppppppppppppppppppppppppple
                            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                            ffffffffffffffffffffffffffffffffffffffffffffffffff
                            gggggggggggggggggggggggggggggggggggggggggggggggggg
                            hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhi
                            iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
                            jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                            kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                            lllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllllqqqqqqqq
                            qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
                        </p>
                    </div>
                </li>
                <li>
                    <div class="label portfolio">
                        <h2 class="label-text">Portfolio</h2>
                        <button id="dd3" class="dd3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                    </div>
                    <div id="pc" class="about-me-content">
                        <p class="p">
                            Hellow
                            
                            Some Ranosadsnadjdnaskdalskdjasldaskdjlaksdjasdads
                            asdasdasdasdasdasdasssssssssssssssssssssssssssss
                            assssssderererrrrrrrrrrrrrrrjgiofdbbbbbbbbbbb
                            eeeeeeepppppppppppppppppppppppppppppppppppppppple
                            eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                            ffffffffffffffffffffffffffffffffffffffffffffffffff
                            gggggggggggggggggggggggggggggggggggggggggggggggggg
                            hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhi
                            iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
                            jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                            kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                            lllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllll
                            lllllllllllllllllllllllllllllllllllllllllllllllllllllqqqqqqqq
                            qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>