<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinashe Madanire CV</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container left">
        <div class="main-display">
            <div class="main-d-header-photos">
                <div class="header-img-container">
                    <img class="header-img" src="/images/gaming.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/art.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/retro.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/music.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/bat.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/books3.jpg">
                </div>
                <div class="header-img-container">
                    <img class="header-img" src="/images/sw.jpg">
                </div>
            </div>
            <div class="main-d-header">
                <div class="profile-pic">
                    <img class="headshot" src="/images/headshot2.jpeg">
                </div>
                <div class="name-title">
                    <h1>Tinashe Madanire</h1>
                    <h2>Frontend Developer</h2>
                </div>    
            </div>
        </div>
        <div class="contact-details">
            <ul class="contacts-list">
                <li>
                    <small>Mobile</small>
                    <a href="tel:">+27606875206</a>
                </li>
                <li>
                    <small>Email</small>
                    <a href="mailto:">madtinashe@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>